table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-style: groove;
  padding: 10px;
}

.map-container {
  width: 100%;
  height: 400px;
}

.map-frame {
  width: 100%;
  height: 100%;
  border: 0;
}
