<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTU Retro Games Club</title>
    <link rel="stylesheet" href="/Assessment2/project/style/styles.css">
</head>
<body>
    <header>
        <h1>MTU Retro Games Club for MTU Students</h1>
        <p>Board • Console • Arcade • PC • Playground</p>
    </header>
    <nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="games-events.html">Games Events</a></li>
        <li><a href="signup.html">Join The Club</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="about.html">About Us</a></li>
    </ul>
    </nav>
    <main>
        <section id="welcome">
            <h2>Welcome to the Retro Games Society!</h2>
            <p>
            Step into a space where classics come alive. Whether you're into the charm of old-school boardgames, 
            the nostalgia of console and arcade titles, the quirks of early PC adventures, 
            or even the playground games we grew up with — this is the place for you. Our society brings together students 
            who love exploring the games that shaped generations. Dive in, discover events, and join a community that celebrates 
            the timeless fun of retro gaming.
            </p>

            <a href="signup.html" class="table-button">Join the Club</a>
        </section>

        <section id="video">
            <h2>Retro Gaming Video</h2>
            <div class="video-container">
            <iframe
                src="https://www.youtube.com/embed/Y1LuxnHfZLM"
                title="Zippy Race"
            ></iframe>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 MTU Retro Games Club</p>
    </footer>
</body>
</html>
